# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.o
a.out

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Vim IDE
*~
*.swp
*.swo

# IntelliJ IDEA
.idea/

# CANdb++
/tests/files/*.ini

# Example outputs
examples/dbc_io/dbc_output.dbc

cantools-database-cache/
test_command_line_convert.dbc
test_command_line_convert.kcd
/*.[hc]
/*fuzzer*
/main
/main_bit_fields
.vs/cantools/project-colors.json
.vs/cantools/v17/.suo
.vs/cantools/v17/Browse.VC.db
.vs/cantools/v17/Browse.VC.db-shm
.vs/cantools/v17/Browse.VC.db-wal
.vs/cantools/v17/Browse.VC.opendb
.vs/cantools/v17/ipch/AutoPCH/18eef173bcd15823/DBC_RMS.ipch
.vs/cantools/v17/ipch/AutoPCH/45defe1cde82ffed/DBC_BMS.ipch
.vs/cantools/v17/ipch/AutoPCH/fd6dcc98fae1e47d/DBC_RMS.ipch
.vs/cantools/v17/TestStore/0/000.testlog
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/PythonSettings.json
.vs/ProjectSettings.json
